################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MartianRobots/MartianRobots/bin/Debug/net5.0
